*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style: none;
    text-decoration: none;
}
.back-header{
    display:flex;
    width: 100%;
    height: 70vh;
    background-image:url(./assets/star\ uó\ topo.png);
    background-size:cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    position:relative;
}
.back-kylo{
    width: 60vw;
    position:absolute;
    left:15%;
    top:-5%;
    z-index: 10;
}
.back-star{
    width: 20vw;
    position:absolute;
    left:23%;
    top:54%;
}
.back-wars{
    width: 20vw;
    position:absolute;
    left:61%;
    top:53%;
}
.back-legiao{
    width: 10vw;
    position:absolute;
    left:73.5%;
    top:75%;
}
.back-main{
    width:90vw;
    position:relative;
}
.back-robot{
    position:relative;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 38vw;
    top:-0.5%;
    left: -0.8px;
    opacity: 1;
}
.red-box{
    width:16vw;
    position:absolute;
    left:80%;
    top:-4%;
    left:15%;
    z-index:80;
}
.text-box{
    width:42vw;
    position:absolute;
    left:44%;
    top:14%;
}
.back-maul{
    width: 40vw;
    position:absolute;
    left:15%;
    top:47%;
    z-index: 10;
}
.back-rey{
    width: 20vw;
    position:absolute;
    left:73.5%;
    top:50%;
    z-index:10;
}
.gray-section{
    width:100vw;
    height:150vh;
    background-color:#2D2D2D ;
}
.gray-menu{
    width: 20vw;
    position:absolute;
    left:73.5%;
    top:50%;
    z-index:10;
}
.text1{
    width: 20vw;
    position:absolute;
    left:73.5%;
    top:50%;
    z-index:10;
}
