*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style: none;
    text-decoration: none;
}
header{
    display: flex;
    width:100%;
    height:80vh;
    background-image:url(./assets/star\ uó\ topo.png);
    background-repeat:no-repeat;
    background-size:cover;
    justify-content:center;
    align-items:center;
    position:relative;
    border:solid tomato;
}
.back-kylo{
    width: 63vw;
    height: 90vh;
    position:absolute;
    left:12.4%;
    top:5vh;
    z-index: 1;
    border:solid green;
}
.logo-wars{
    width:72vw;
    height:13vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:relative;
    border:solid yellow;
}
.back-star{
    width: 20vw;
    position:absolute;
    left:11.6%;
    top:88%;
    border:solid purple;
}
.back-wars{
    width: 20vw;
    position:absolute;
    left:68%;
    top:88%;
    border:solid aqua;
}
.back-legiao{
    width: 8vw;
    position:absolute;
    left:75%;
    top:78%;
    border:solid black;
}
main{
    width:100%;
    position:relative;
    border:solid chartreuse;
}
.main-line{
    width:80vw;
    border:solid gray;
    position:absolute;
    top:65vh;
    left:15vw;
}
.back-robot{
    position:relative;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 39vw;
    height: 100%;
    top:-0.5%;
    left: -0.8px;
    opacity: 1;
    border:solid darkolivegreen;
}
.red-box{
    width:16vw;
    position:absolute;
    left:80%;
    top:-4%;
    left:15%;
    z-index:80;
    border:solid hotpink;
}
.text-box{
    width:42vw;
    position:absolute;
    left:41%;
    top:4%;
    border:solid indigo;
}
.back-line{
    width:80vw;
    border:solid gray;
    position:absolute;
    top:65vh;
    left:15vw;
}
.back-maul{
    width: 40vw;
    position:absolute;
    left:13%;
    top:25%;
    z-index: 10;
    border:solid maroon;
}
.back-rey{
    width: 19vw;
    position:absolute;
    left:73%;
    top:31%;
    z-index:10;
    border:solid orangered;
}
.gray-section{
    width:100%;
    height:90vh;
    background-color:#2D2D2D;
    border:solid red;
}
.gray-menu{
    width: 20vw;
    position:absolute;
    left:73.5%;
    top:50%;
    z-index:10;
    border:solid seagreen;
}
.text1{
    width: 20vw;
    position:absolute;
    left:73.5%;
    top:50%;
    z-index:10;
    border:solid tomato;
}



@media(max-width:400px){
    class=""{}  
  }
    
